

<h1 class="text-center">Position</h1>

<form action="/position/entry" method="post" class="w-50 mx-auto">
    <div class="mb-3">
        <label class="from-label">Code</label>
        <input type="text" class="form-control" name="Code" placeholder="Code" />
    </div>
    <div class="mb-3">
        <label class="from-label">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name" />
    </div>
    <div class="mb-3">
        <label class="from-label">Level</label>
        <input type="number" class="form-control" name="Level" placeholder="Level" />
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
</form>